<html>
    <%- include('./include/header.ejs') %>
    <h2>Vista de Productos</h2>
    <% if (productos) { %>
        <main role="main" class="container">
            <h1 class="mt-5">Productos</h1>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Imágen</th>
                    </tr>
                </thead>
            <tbody>
            <% productos.map(producto => { %>
            <tr>
                <th scope="col"><%=producto.name%></th>
                <th scope="col"><%=producto.price%></th>
                <th scope="col"><img src="<%=producto.thumbnail%>" alt="<%=producto.name%>" width="100" height="100"></th>
            </tr>
            <% }) %>
            </tbody>
            </table>
        </main>
        <%} else { %>
        <h3>No se encontraron productos</h3>
    <% } %>
    <a href="/">Cargar Productos</a>
</html>
